APP_URL="MY_APP_URL"

# Supabase Configuration
# You can get these from your Supabase project settings -> API
VITE_SUPABASE_URL=https://vqhgifkupfkxenmqgiki.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxaGdpZmt1cGZreGVubXFnaWtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4OTQwMjEsImV4cCI6MjEwMDQ3MDAyMX0.5IcoKzhsvux1l4UnpW_hQ249-YUzJnvOQJHXjmQiW9A
